.photo-grid {
    padding: 0 48px 0;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-gap: 15px 15px;
    align-self: center;
}

@media screen and (max-width:1140px){
    .photo-grid {
        padding: 0 16px 0;
    }
}

@media screen and (max-width:768px){
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width:448px){
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 12px;
    }
  }

@media screen and (max-width:320px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
}