.places {
    max-width: 100%;
    margin: 88px auto 92px;
    padding: 0;
}

@media screen and (max-width:1090) {
    .places {
        padding: 80px auto 0;
    }
}

@media screen and (max-width:568px){
    .places {
        margin: 88px auto 64px;
    }
  }

@media screen and (max-width:448px){
    .places {
        margin: 88px auto 64px;
    }
  }

@media screen and (max-width:320px) {
    .places {
        margin: 62px 0 64px;
    }
}