.cover__item {
    min-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(42,44,47,.3);
    transition: 0.3s linear 0.1s;
}

.cover__item:hover {
    background-color: rgba(42,44,47,.8);
}

@media screen and (max-width:768px) and (min-width:448px) {
    .places {
      min-width: 100vw;
    }
  }
  
  @media screen and (max-width:448px) and (min-width:320px) {
    .places {
      min-width: 100vw;
    }
  }
  
  @media screen and (max-width:320px) {
    .places {
      min-width: 100vw;
    }
  }