.header {
    max-width: 1140px;
    padding: 34px 0 20px;
    margin: 34px auto 0;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}

@media screen and (max-width:1140px) and (min-width:768px) {
    .header {
        padding: 34px 0 20px;
    }
}

@media screen and (max-width:984px) {
    .header {
        padding: 34px 0 20px;
        max-width: 100vw;
    }
}

@media screen and (max-width:320px) {
    .header {
        padding: 20px 0 20px;
        max-width: 100vw;
    }
}