.header {
    max-width: 1140px;
    padding: 34px 0 90px;
    margin: 0 auto 0;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}

@media screen and (max-width:984px) {
    .header {
        max-width: 100vw;
    }
}

@media screen and (max-width:768px) {
    .header {
        padding: 20px 0 90px;
    }
}

@media screen and (max-width:448px) {
    .header {
        padding: 20px 0 50px;
    }
}