.cover {
  max-width: 1184px;
  min-height: 740px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0;
  margin: 92px auto;
  background-image: url(../../images/cover/__background.png);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width:768px) {
  .cover {
    max-width:768px;
    min-height: 740px;
    margin: 88px auto 0;
  }
}

@media screen and (max-width:448px) {
  .cover {
    max-width:448px;
    min-height: 448px;
  }
}

@media screen and (max-width:320px) {
  .cover {
    max-width: 320px;
    min-height: 254px;
    margin: 64px auto 0;
  }
}