.place__artist-heading {
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.25;
text-align: left;
color: #aaa;
max-width: 456px;
margin: 0;
text-transform: uppercase;
letter-spacing: 12%;
}
  
  @media screen and (max-width:768px) {
    .place__artist-heading {
        max-width: 352px;
    }
  }
  
  @media screen and (max-width:720px) and (min-width:448px) {
    .place__artist-heading {
        max-width: 340px;
    }
  }
  
  @media screen and (max-width:448px){
    .place__artist-heading {
        max-width: calc(100vw - (16px * 2));
    }
  }