.intro__title {
max-width: 785px;
font-size: 54px;
font-style: normal;
font-weight: 900;
line-height: 58px;
text-align: left;
margin: 0 0 40px;
}

@media screen and (max-width:1140px) and (min-width:768px) {
    .intro__title {
        font-size: 54px;
        line-height: 1.075;
        margin: 0 148px 0 347px;
    }
}

@media screen and (max-width:768px) and (min-width:448px) {
    .intro__title {
        max-width: calc(100vw-(24*2));
        font-size: 54px;
        line-height: 1.075;
        margin: 0 24px 0;
    }
}

@media screen and (max-width:448px) and (min-width:320px) {
    .intro__title {
        max-width: calc(100vw-(20*2));
        font-size: 40px;
        line-height: 1.09;
        margin: 0 16px 0;
    }
  }

@media screen and (max-width:320px) {
    .intro__title {
        max-width: 100vw;
        font-size: 32px;
        line-height: 1.09;
        margin: 0 16px 40px 16px;
    }
}