.footer {
    padding: 92px 34px 24px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


@media screen and (max-width:768px) {
    .footer {
        padding: 88px 24px 20px;
    }
}

@media screen and (max-width:320px) {
    .footer {
        padding: 64px 16px 20px;
    }
}